/** CSS for root component  of Smoothie app
  *
  * @author: Nana
 */

.selected {
    background-color: #129bd2 !important;
    color: white;
}
.smoothies {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 10px;
    margin: 10px;
    width: 100%;
}
.smoothies li {
    display: inline-table;
    left: 0;
    background-color: rgba(101, 208, 251, 0.38);
    margin: .5em;
    padding: .3em 0;
    height: 190px;
    width: 300px;
    border-radius: 4px;
}
.smoothies li.selected:hover {
    background-color: #0086bb !important;
    color: white;
}
.smoothies li:hover {
    color: #607D8B;
    background-color: #29b0e6;
    left: .1em;
}
.smoothies .text {
    position: relative;
    top: -3px;
    padding: 10px;
}
.red-bg{
    background-color: red !important;
}
button {
    float: none;
    background-color: #27ad83;
    margin: 0 5px 0 5px;
    color: white;
    font-family: "Lucida Grande", Arial;
    letter-spacing: 0.05em;
}
button.delete {
    float:right;
    margin-top: 2px;
    margin-right: .8em;
    background-color: grey !important;
    color:white;
    width: 17px;
    height: 17px;
    padding:0;
}
.delete:hover{
    background-color: #d40101 !important;
}
.cancelBTN{
    margin-left: 70px;
    margin-top: 20px;
    background-color: #d40101;
}
.cancelBTN:hover{
    background-color: #b91313;
}
.addBTN{
    margin-left: 30px;
    margin-top: 20px;
    background-color: #349452;
}

.detailsBTN{
    margin-left: 30px;
    background-color: #02825a;
    color: black;
}
.detailsBTN:hover{
    background-color: #10653E;
    color: #fff;
}

.newBTN{
    margin-top: 142px;

}
button:hover{
    background-color: #18966f;
}
.add{
    width: 150px;
    height: 30px;
    margin: 10px;
    margin-left: 30px;
    font-size: 14px;
    background-color: #09bace;
    color: #000;
}
.add:hover{
    background-color: #01d5ec;
    color:#fff;
}