<h1>{{title}}</h1>


<h2 *ngIf="!smoothies">Loading Smoothies....</h2>
<h2 *ngIf="smoothies"> Wählen Sie Ihr Smoothie aus! </h2>

<ul class="smoothies">
    <li *ngFor="let listItem of smoothies; let i = index" [class.selected]="listItem.item === selectedSmoothie"  >
        <smoothie-card [hidden]="listItem.editing" [smoothie]="listItem.item"> </smoothie-card>
        <button class="delete" (click)="delete(listItem.item); $event.stopPropagation()">x</button>
        <button (click)="onSelect(listItem.item)">Details</button>

    </li>
    <li>
        <button *ngIf="!showNewSmoothie" (click)="onAddSmoothie()">New Smoothie</button>
        <div *ngIf="showNewSmoothie">
            <label>Smoothie name:</label> <input #smoothieName /><br>
            <button (click)="cancelAddSmoothie()">cancel</button>
            <button (click)="add(smoothieName.value); smoothieName.value='';">Add</button>
        </div>
    </li>
</ul>

<my-smoothie-detail [hidden]="!selectedSmoothie" [smoothie]="selectedSmoothie" [details]= "details" ></my-smoothie-detail>
