<div *ngIf="smoothie">
    <h2>{{smoothie.name}} {{irgendEinName}}</h2>
    <div>
        <label> Name: </label> <input [(ngModel)]="smoothie.name" placeholder="name">
    </div>
    <div>
        <label>Ingredients: </label> {{ smoothie.Ingredients }}
    </div>
    <div>
        <label>Zubereitung: </label> <textarea> {{ smoothie.zubereitung }} </textarea>
    </div>
    <div>
        <label class="review">Bewertung: </label>
        <div class="txt-center">
            <form>
                <div class="rating">
                    <input id="star5" name="star" type="radio" value="5" class="radio-btn hide" />
                    <label for="star5" >☆</label>
                    <input id="star4" name="star" type="radio" value="4" class="radio-btn hide" />
                    <label for="star4" >☆</label>
                    <input id="star3" name="star" type="radio" value="3" class="radio-btn hide" />
                    <label for="star3" >☆</label>
                    <input id="star2" name="star" type="radio" value="2" class="radio-btn hide" />
                    <label for="star2" >☆</label>
                    <input id="star1" name="star" type="radio" value="1" class="radio-btn hide" />
                    <label for="star1" >☆</label>
                    <div class="clear"></div>
                </div>
            </form>
        </div>
    </div>
    <!-- <div>
        <label> Obst: </label> <input #obstInput (keyup)="onKeyUp(obstInput.value)" placeholder="obst" >
    </div> -->
</div>
<div *ngIf="!smoothie">
    <p> Wähle einen Smoothie aus.</p>
</div>